body {
  background-image: url('./blackgalaxia.jpg');
  background-size: contain;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 30px;
  width: 80%;
}

#header-h1{
  background-image: radial-gradient(circle farthest-corner at 100% 0, #f09c33 0%, #f59234 4%, #f98736 7%, #fd7b38 10%, #ff6e3c 14%, #ff5f41 18%, #ff4e46 21%, #ff384b 25%, #fd1851 29%, #f90059 32%, #f50062 36%, #f0006c 39%, #e90077 43%, #e10083 46%, #d70090 50%, #4e42d4 75%, #4e42d4 100%);
  border-radius: 10px;
  color: #f3efef;
  text-align: center;
}

/*link do css gradiente : https://css-tricks.com/gradient-borders-in-css/*/
.solar-system-div {
  border: solid 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ff8e26, #ffed40, #001290,#ff3a93 );
  color: white;
  text-align: -webkit-center;
  width: 95%;
}

.h2-title {
  border-bottom: dotted 5px #e34863;
  max-width: 80%;
  padding: 5px;
  color: #ff6122;
}

.planet-div {
  max-width: fit-content;
}

.planet-div:hover {
  width: 800px;
}

.img-planet {
  width: 100%;
}

.planet-section {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

/*link do css gradiente : https://css-tricks.com/gradient-borders-in-css/*/
.missions-div {
  border: solid 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ff8e26, #ffed40, #001290,#ff3a93 );
  color: white;
  margin-top: 10px;
  text-align: -webkit-center;
  width: 95%;
}

.missions-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mission-div {
  border: solid 2px #d1c98d;
  margin-bottom: 10px;
  min-width: 31%;
}

.p-mission-title {
  border-bottom: dotted 4px #e34863;
  max-width: 80%;
}

.mission-div:hover {
  border: solid 4px white;
}